header {
    position:absolute;
    left:0%;
    top:0%;
    width:100%;
}

body, html {
    cursor: default;
    margin: 0 0;
    height: 100%;
    background: url("../../assets/images/bg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}