header {
    position:absolute;
    left:0%;
    top:0%;
    width:100%;
}

html {
    height: 93%;
}

body {
    font-family: 'Raleway', sans-serif;
    background: url("../../assets/images/oli-dale-139169.jpg") no-repeat center center;
    background-size: cover;
    height: 100%;
}
