.jumbotron {
    margin-top: 1.5em;
    height: 90%;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2.2em;
    text-shadow: black 2px 0 10px; 

    button {
        background-color: white;
        width: 10em;
        height: 5em;
        border-radius: 3em;
        outline: 0;
        margin-left: auto;
        margin-right: auto;
    }
}