.message {
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 20px;
    color: lightcoral;
    text-shadow: 1px 1px 1px;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.25s ease-out;

    &--hidden {
        opacity: 0;
        visibility: hidden;
    }
    
    .button {
        height: 80px;
        width: 160px;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        bottom: 10%;
        border-radius: 40px;
        background-color: #e5e5e5;
        font-size: 24px;
        outline:  0;
    }
}

