.message {
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 20px;
    color: lightcoral;
    text-shadow: 1px 1px 1px;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.35s ease-out;
    text-align: center;

    @mixin Medium {
        color: black;
        text-shadow: none;
        text-align: left;
        justify-content: center;
        right: auto;
        background-color: transparent;
        background-color: #89b56e;
        border-radius: 0 30px 30px 0;
        top: auto;
        left: 0%;
    }

    &--hidden {
        opacity: 0;
        visibility: hidden;

        @mixin Medium {
            opacity: 1;
            visibility: visible;
            left: -30% !important;
        }
    }
    
    &-close {
        height: 80px;
        width: 160px;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        bottom: 10%;
        border-radius: 40px;
        background-color: #e5e5e5;
        font-size: 24px;
        outline:  0;

        @mixin Medium {
            display: none;
        }
    }
}

