.modal {
    position: absolute;
    margin: auto auto;
    background-color: #89b56e;
    color: black;
    text-align: center;
    font-weight: 700;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 12;
    
    @mixin Medium {
        bottom: 5%;
        border-radius: 50px;
    }
    
    &-signup {
        @mixin Medium {
            height: 380px;
            width: 500px;
        }
        

        &--hidden {
            visibility: hidden;
        }
    }

    &-login {
        @mixin Medium {
            height: 310px;
            width: 480px;
        }
        

        &--hidden {
            visibility: hidden;
        }
    }

    &-forgot {
        top: 30%;
        bottom: 30%;
        left: 3%;
        right: 3%;
        border-radius: 30px;

        @mixin Medium {
            height: 220px;
            width: 400px;
        }


        &--hidden {
            visibility: hidden;
        }

        .modal {
            &__close {
                font-size: 1.5em;
                right: 15px;
                top: 10px;
            }

            &__header {
                margin-top: 45px;
                margin-bottom: 20px;
                @mixin Medium {
                    margin-top: 30px;
                }
                
            }
        
            &__content {
                height: auto;
                &-input {
                    @mixin Medium {
                        width: 320px;
                    }
                    
                }

                .button {
                    width: 100px;
                    height: 50px;
                    border-radius: 20px;
                }
            }
        }
    }

    &-changeemail {
        height: 260px;
        width: 420px;

        &--hidden {
            visibility: hidden;
        }

        .modal {
            &__header {
                margin-top: 30px;
                margin-bottom: 20px;
            }
        
            &__content {
                &-input {
                    width: 320px;
                }

                .button {
                    width: 100px;
                    height: 50px;
                    border-radius: 20px;
                }
            }

            &__close {
                top: 20px;
                right: 28px;
            }
        }
    }

    &-changepassword {
        height: 320px;
        width: 420px;

        &--hidden {
            visibility: hidden;
        }

        .modal {

            &__header {
                margin-top: 30px;
                margin-bottom: 20px;
            }
        
            &__content {
                &-input {
                    width: 320px;
                }

                .button {
                    width: 100px;
                    height: 50px;
                    border-radius: 20px;
                }
            }

            &__close {
                top: 18px;
                right: 24px;
            }
        }


    }

    &__header {
        margin-top: 100px;
        margin-bottom: 10px;
        font-size: 2em;

        @mixin Medium {
            margin-top: 30px;
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 60%;

        @mixin Medium {
            height: auto;
        }

        &-input {
            font-family: 'Roboto', sans-serif;
            height: 2.2em;
            width: 250px;
            font-size: 1.1em;
            border-radius: 10px;
            margin: 5px auto;
            padding-left: 15px;
            outline: 0;

            @mixin Medium {
                width: 400px;
            }
        }

        .button {
            color: darkslategrey;
            margin: 15px auto;
            width: 200px;
            height: 50px;
            border-radius: 25px;
            padding-left: 0;
            background-color: #efefef;
            font-size: 1.3em;
            outline: 0;
        }
    }

    &__close {
        position: absolute;
        right: 32px;
        top: 24px;
        transform: scaleX(1.25);
        color: black;
        font-size: 1.2em;

        &:hover {
            color: white;
            cursor: default;
        }
    }

    &-container {
        z-index: 11;
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        height: 100%;
        transition: all 0.25s ease-out;

        &--hidden {
            opacity: 0;
            visibility: hidden;
        }
    }

    &__extra {
        text-align: center;
        font-size: 1.1em;

        &-rememberme {
            margin: 10px 10px;

            @mixin Medium {
                margin: 0 0;
            }
        }

        &-forgot-container {
            margin: 10px 10px;
            padding: 4px 0px;

            @mixin Medium {
                margin: 0 0;
            }
        }

        &--pullleft {
            @mixin Medium {
                float: left;
                padding-left: 32px;
                padding-top: 5px;
                padding-bottom: 2px;
            }
            
        }

        &--pullright {

            @mixin Medium {
                padding-top: 5px;
                padding-bottom: 2px;
                margin: 10px 0px;
            }
            
                
        }

        a {
            cursor: pointer;
        }
    }
}