.modal {
    position: absolute;
    margin: auto auto;
    background-color: #89b56e;
    color: black;
    text-align: center;
    font-weight: 700;
    top: 0;
    bottom: 5%;
    left: 0;
    right: 0;
    z-index: 10;
    border-radius: 50px;
    
    &-signup {
        height: 400px;
        width: 560px;

        &--hidden {
            visibility: hidden;
        }
    }

    &-login {
        height: 310px;
        width: 530px;

        &--hidden {
            visibility: hidden;
        }
    }

    &-forgot {
        height: 220px;
        width: 400px;

        &--hidden {
            visibility: hidden;
        }

        .modal {

            &__header {
                margin-top: 30px;
                margin-bottom: 20px;
            }
        
            &__content {
                &-input {
                    width: 320px;
                }

                .button {
                    width: 100px;
                    height: 50px;
                    border-radius: 20px;
                }
            }
        }
    }

    &-changeemail {
        height: 260px;
        width: 420px;

        &--hidden {
            visibility: hidden;
        }

        .modal {

            &__header {
                margin-top: 30px;
                margin-bottom: 20px;
            }
        
            &__content {
                &-input {
                    width: 320px;
                }

                .button {
                    width: 100px;
                    height: 50px;
                    border-radius: 20px;
                }
            }

            &__close {
                top: 20px;
                right: 28px;
            }
        }
    }

    &-changepassword {
        height: 260px;
        width: 420px;

        &--hidden {
            visibility: hidden;
        }

        .modal {

            &__header {
                margin-top: 30px;
                margin-bottom: 20px;
            }
        
            &__content {
                &-input {
                    width: 320px;
                }

                .button {
                    width: 100px;
                    height: 50px;
                    border-radius: 20px;
                }
            }

            &__close {
                top: 15px;
                right: 22px;
            }
        }


    }

    &__header {
        margin-top: 30px;
        margin-bottom: 18px;
        font-size: 2em;
    }

    &__content {
        display: flex;
        justify-content: center;
        flex-direction: column;

        &-input {
            font-family: 'Roboto', sans-serif;
            height: 2.2em;
            width: 450px;
            font-size: 1.1em;
            border-radius: 10px;
            margin: 5px auto;
            padding-left: 10px;
            outline: 0;
        }

        .button {
            color: darkslategrey;
            margin: 15px auto;
            width: 200px;
            height: 50px;
            border-radius: 25px;
            padding-left: 0;
            background-color: #efefef;
            font-size: 1.3em;
            outline: 0;
        }
    }

    &__close {
        position: absolute;
        right: 32px;
        top: 24px;
        transform: scaleX(1.25);
        color: black;
        font-size: 1.2em;

        &:hover {
            color: white;
            cursor: default;
        }
    }

    &-container {
        z-index: 10;
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        height: 100%;
        transition: all 0.25s ease-out;

        &--hidden {
            opacity: 0;
            visibility: hidden;
        }
    }

    &__extra {
        &--pullleft {
            float: left;
            padding-left: 32px;
            padding-top: 5px;
            padding-bottom: 2px;
        }

        &--pullright {
            float: right;
            margin-right: 34px;
            padding-top: 5px;
            padding-bottom: 2px;
        }

        a {
            cursor: pointer;
        }
    }
}