.notes {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    height: 680px;
    width: 960px;
    margin: auto auto;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 40px 40px;
    border-radius: 40px;
    
    &--hidden {
        display: none;
    }

    &__button {
        background-color: black;
        width: 180px;
        height: 80px;
        border-radius: 900px;
        outline: 0;
        font-size: 26px;
        color: black;

        &-green {
            background-color: rgba(27, 76, 27, 0.1);
            border: solid 3px #db574a;
            border-color: #379e33;
            color: #379e33;

            &:hover {
                background-color: rgba(27, 76, 27, 0.2);
                border-color: #276d27;
                color: #276d27;
            }

            &:active {
                background-color: rgba(27, 76, 27, 0.4);
                border-color: #1e511e;
                color: #1e511e;
            }
        }

        &-blue {
            background-color: rgba(39, 73, 109, 0.15);
            border: solid 3px #6496c8;
            border-color: #346392;
            color: #346392;

            &:hover {
                background-color: rgba(39, 73, 109, 0.3);
                border-color: #27496d;
                color: #27496d;
            }

            &:active {
                background-color: rgba(39, 73, 109, 0.5);
                border-color: #1b334c;
                color: #1b334c;
            }
        }

        &-red {
            background-color: rgba(135, 52, 44, 0.1);
            border: solid 3px #db574a;
            border-color: #a03636;
            color: #a03636;

            &:hover {
                background-color: rgba(135, 52, 44, 0.2);
                border-color: #9e3d34;
                color: #9e3d34;
            }

            &:active {
                background-color: rgba(135, 52, 44, 0.4);
                border-color: #87342c;
                color: #87342c;
            }
        }


        &-container {
            flex-grow: 1;
        }

        &--pull-right {
            text-align: right;
        }
    }

    &__extra {
        &--hidden {
            display: none !important;
        }
    
        &-container {
            display: flex;
        }
    }

    &__list {
        background-color: gray;
    }
}