.notes {
    display: block;
    position: absolute;
    top: 77px;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    margin: auto auto;
    background-color: rgba(255, 255, 255, 0.85);
    
    @mixin Large {
        padding: 30px 40px;
        top: 0;
        height: 680px;
        width: 960px;
        border-radius: 36px;
        border: solid 2px black;
    }
    
    &--hidden {
        display: none !important;
    }

    &__button {
        background-color: black;
        border-radius: 900px;
        outline: 0;
        font-size: 26px;
        color: black;
        width: 144px;
        height: 100px;
        @mixin Large {
            width: 180px;
            height: 80px;    
        }

        &-green {
            background-color: rgba(27, 76, 27, 0.1);
            border: solid 2px #db574a;
            border-color: #379e33;
            color: #379e33;

            &:hover {
                background-color: rgba(27, 76, 27, 0.15);
                border-color: #276d27;
                color: #276d27;
            }

            &:active {
                background-color: rgba(27, 76, 27, 0.2);
                border-color: #1e511e;
                color: #1e511e;
            }
        }

        &-blue {
            background-color: rgba(39, 73, 109, 0.1);
            border: solid 2px #6496c8;
            border-color: #346392;
            color: #346392;

            &:hover {
                background-color: rgba(39, 73, 109, 0.15);
                border-color: #27496d;
                color: #27496d;
            }

            &:active {
                background-color: rgba(39, 73, 109, 0.2);
                border-color: #1b334c;
                color: #1b334c;
            }
        }

        &-red {
            background-color: rgba(135, 52, 44, 0.1);
            border: solid 2px #db574a;
            border-color: #d34c4c;
            color: #d34c4c;

            &:hover {
                background-color: rgba(135, 52, 44, 0.15);
                border-color: #aa4238;
                color: #aa4238;
            }

            &:active {
                background-color: rgba(135, 52, 44, 0.2);
                border-color: #91372e;
                color: #91372e;
            }
        }


        &-container {
            flex-grow: 1;
        }

        &--pull-right {
            text-align: right;
        }
    }

    &__notepad {
        @mixin Large {
            margin-top: 24px;
            margin-bottom: 20px;
        }


        &--hide {
            display: none;
        }

        textarea {
            font-family: 'Arvo', 'sans-serif';
            box-sizing: border-box;
            width: 100%;
            max-width: 100%;
            border-radius: 30px;
            resize: none;
            padding: 25px 28px;
            outline: 0;
            font-size: 22px;
            height: 100%;

            @mixin Large {
                font-size: 23px;
                border-radius: 40px;
                padding: 25px 28px;
            }
        }
    }

    &__extra {
        &-container {
            display: flex;
            padding: 20px 20px;

            @mixin Large {
                padding: 0 0;
            }
        }
    }

    &__list {
        display: none;
        background-color: gray;
    }
}